*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*General*/

html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: white;
    min-height: 100%;
    padding-bottom: 200px;
}

/*Sidebar*/

.sidebar {
    position: relative;
    padding: 0.5rem;
    background-color: lightgray;
    z-index: 1;
}

.sidebar-header {
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: inherit;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.sidebar-header .new-room {
    display: inline;
    margin: 0 5px;
}

.sidebar-title {
    display: inline-block;
    padding-right: 15px;
}

.sidebar .room-name {
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar .room-name:hover {
    cursor: pointer;
    display: inline
}

/*Messages*/

.messages {
    position: fixed;
    top: 0px;
    left: 250px;
    width: 80%;
    height: 100%;
    background-color: white;
    z-index: 1;
    overflow: scroll;
}


.messages-body {
    padding-right: 10px;
}

.messages-body .username {
    font-weight: bold;
}

.messages-body .timestamp {
    float: right;
    padding-right: 100px;
}

.messages-body .username .timestamp {
    display: inline-block;
}

.messages-body .user-message {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

.message-field {
    bottom: 0;
    padding-bottom: 5px;
    position: fixed;
}

.message-box {
    width: 800px;
}

/* Medium and small screen (640px) */
@media (min-width: 640px) {
    html { font-size: 112%; }
    
    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}

/* Large screens (1024px) */
@media (min-width: 1024px) {
    html { font-size: 120%; }
